        /*nav bar taken from codepen devtips channel*/
        /*to debug
/*{
background-color: rgba(0,0,0,0.1);
}
*/
        /*hides all scrollbars in my pages*/

         ::-webkit-scrollbar {
            display: none;
        }

        html {
            overflow-y: 100.1%;
        }

        body {
            top: 0;
            left: 0;
            right: 0;
            margin: 0;
        }
        /*beginning of home page*/
        /* home page header */

        .header {
            background: url("../img/01.jpg") no-repeat top center scroll;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            width: 100%;
            height: auto;
            display: table;
        }

        .header-container {
            width: 600px;
            height: 932px;
            background: rgba(255, 255, 255, 0.2);
        }

        h1 {
            font-size: 4em;
            font-family: 'Lato', sans-serif;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding-left: 0;
            padding-right: 0;
            padding-top: 30px;
            padding-bottom: 100px;
            color: #0000;
            justify-content: center;
            width: 500px;
            height: 580px;
            margin: auto;
            text-align: left;
        }

        #spanhead {
            color: #f7bebe;
        }

        button {
            background-color: #f7bebe;
            color: black;
            text-align: center;
            text-decoration: none;
            font-family: 'Amatic SC', cursive;
            font-size: 40px;
            border: 2px #f7bebe;
            border-radius: 8px;
            width: 200px;
            height: 110px;
            margin: 38px;
            cursor: pointer;
            transition: 0.3s;
            -webkit-transition: 0.3s;
        }

        button:hover {
            background-color: white;
            color: black;
            text-decoration: line-through;
        }

        button:focus {
            outline: 0;
        }

        a:focus {
            outline: 0;
        }
        /*end of buttons*/
        /* end of header */
        /*beginning of footer */

        footer {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 1170px;
            height: 300px;
        }

        .footer-elements {
            margin-right: -15px;
            margin-left: -15px;
            clear: both;
            text-align: center;
            font-family: 'Lato', sans-serif;
            padding-top: 30px;
        }

        .footer-elements a {
            color: black;
        }

        .footer-elements i {
            font-size: 1.5em;
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 20px;
        }

        .footer-social {
            width: 330px;
            float: left;
            position: relative;
            min-height: 1px;
            height: 200px;
            padding-right: 15px;
            padding-left: 15px;
            display: inline-block;
        }

        .footer-contact {
            width: 330px;
            position: relative;
            min-height: 1px;
            height: 200px;
            padding-right: 15px;
            padding-left: 15px;
            display: inline-block;
            margin: 0 auto;
        }

        .fa-envelope-o {
            margin-bottom: 30px;
            margin-top: -10px;
        }

        .footer-copyright {
            width: 330px;
            float: right;
            position: relative;
            min-height: 1px;
            height: 200px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .footer-copyright p {
            font-size: 1em;
            margin-left: 15px;
            margin-right: 15px;
        }

        .fa:focus, .fa-linkedin:focus, .fa-bandcamp:focus, .fa-github:focus, .fa-codepen:focus {
            outline: 0;
        }

        h3 {
            color: black;
            font-size: 2em;
            font-family: 'Amatic SC', cursive;
        }
        /*end of footer*/
        /*end of home page*/
        /*beginning of about me page*/
        /*header*/

        .header-about-me {
            background: url("../img/02.jpg") no-repeat top center scroll;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            width: 100%;
            height: auto;
            display: table;
        }

        .header-container-about-me {
            width: 500px;
            height: 932px;
            display: inline-block;
            float: right;
            margin-right: auto;
            clear: all;
            background: rgba(247, 190, 190, 0.3);
        }

        .me {
            background: url("../img/eu.jpg") no-repeat;
            opacity: 0.5;
            width: 300px;
            height: 204px;
        }

        .me-border {
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: 204px;
            border: 30px solid rgb(247, 190, 190);
        }

        .about-me-text {
            font-size: 1.5em;
            font-family: 'Lato', sans-serif;
            letter-spacing: 0.3em justify-content: center;
            margin-left: 70px;
            margin-right: 50px;
            text-transform: uppercase;
            width: 375px;
        }

        .black {
            color: black;
        }

        figure {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 0px;
        }

        .arrow {
            width: 112px;
            height: 105px;
            margin-top: 2px;
            margin-left: 10px;
            padding-left: 22px;
        }

        #dna {
            width: 136px;
            height: 153px;
            position: absolute;
            display: inline;
            margin-left: 301px;
            margin-top: -146px;
            cursor: pointer;
        }

        svg:hover #dna-icon {
            fill: black;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        /* CSS effects Ian Lunn Github repository*/
        /* Pulse Grow */

        @-webkit-keyframes hvr-pulse-grow {
            to {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        @keyframes hvr-pulse-grow {
            to {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        .hvr-pulse-grow {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
        }

        .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
            -webkit-animation-name: hvr-pulse-grow;
            animation-name: hvr-pulse-grow;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }
        /*finishes CSS effects Ian Lunn Github repository*/

        #cv {
            width: 82px;
            margin-left: 125px;
            margin-top: -9px;
            cursor: pointer;
        }

        svg:hover #cv-icon {
            fill: black;
            transition-duration: 0.6s;
            -webkit-transition-duration: 0.6s;
        }
        /*insert CSS effects IanLunn github*/
        /*Woble*/

        .hvr-wobble-bottom {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
        }

        .hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
            -webkit-animation-name: hvr-wobble-bottom;
            animation-name: hvr-wobble-bottom;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

        @keyframes hvr-wobble-bottom {
            16.65% {
                -webkit-transform: skew(-12deg);
                transform: skew(-12deg);
            }
            33.3% {
                -webkit-transform: skew(10deg);
                transform: skew(10deg);
            }
            49.95% {
                -webkit-transform: skew(-6deg);
                transform: skew(-6deg);
            }
            66.6% {
                -webkit-transform: skew(4deg);
                transform: skew(4deg);
            }
            83.25% {
                -webkit-transform: skew(-2deg);
                transform: skew(-2deg);
            }
            100% {
                -webkit-transform: skew(0);
                transform: skew(0);
            }
        }
        /*end CSS effects Ian Lunn Github*/

        .text {
            border: 1px dotted white;
            display: inline-block;
            width: 300px;
            float: right;
            margin-top: -182px;
            margin-right: 50px;
        }
        /*slide navigation bar*/

        .page-content {
            position: relative;
            z-index: 0;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
        }

        .toggle {
            position: fixed;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            top: 20px;
            left: 20px;
            z-index: 1;
            text-decoration: none;
            color: white;
            font-size: 30px;
            cursor: pointer;
        }

        .toggle:focus {
            outline: 0;
        }

        .sidebar {
            position: fixed;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            z-index: 0;
            top: 0px;
            right: 0;
            left: -150px;
            bottom: 0px;
            width: 100px;
            padding: 20px;
            background: black;
        }

        .sidebar li {
            color: rgba(247, 190, 190, 0.8);
            list-style-type: none;
            font-family: "Lato", Sans-serif;
            font-size: 13px;
            margin-bottom: 16px;
            text-align: center;
            -webkit-font-smoothing: antialised;
            cursor: pointer;
        }

        .sidebar li:focus {
            outline: 0;
        }

        .sidebar a {
            text-decoration: none;
        }

        .sidebar a:focus {
            outline: 0;
        }

        .sidebar li:hover {
            color: rgba(247, 190, 190, 1);
        }

        .sidebar ul {
            padding-left: 10px;
            padding-right: 10px;
        }

        #sidebartoggler {
            display: none;
        }

        #sidebartoggler:checked+.page-wrap .sidebar {
            left: 0px;
        }

        #sidebartoggler:checked+.page-wrap .toggle {
            left: 150px;
        }

        #sidebartoggler:checked+.page-wrap .page-content {
            padding-left: 50px;
        }
        /*end of slide navigation bar*/
        /*start media queries*/

        @media only screen and (max-width:480px) {
            /*main page*/
            .header-container {
                width: 280px;
                height: 500px;
            }
            h1 {
                width: 170px;
                font-size: 2em;
                padding-left: 10px;
                height: 76px;
                margin-left: 0px;
                margin-right: 0px;
            }
            button {
                width: 92px;
                height: 50px;
                margin-top: 68%;
                margin-left: 11%;
                margin-right: 0px;
                margin-bottom: 0px;
                font-size: 1em;
            }
            footer {
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
            }
            .footer-elements {
                margin-right: 0px;
                margin-left: 0px;
                padding-top: 0px;
            }
            .footer-social {
                padding-bottom: 20px;
            }
            .fa-envelope-o {
                margin-bottom: 30px;
                margin-top: -10px;
            }
            /*about me*/
            #dna {
                width: 135px;
                height: 153px;
                position: absolute;
                display: inline;
                margin-left: 0px;
                margin-top: -318px;
                cursor: pointer;
            }
            #cv {
                width: 90px;
                height: 89px;
                margin-left: 0px;
                margin-top: 1px;
                cursor: pointer;
            }
            .header-about-me {
                background: url(../img/002.jpg) no-repeat top center scroll;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                width: 100%;
                display: table;
                z-index: 1;
            }
            .middle {
                height: 345px;
                margin-top: 0px;
                padding-top: 0px;
                z-index: 0px;
            }
        }
